<div>
  <div>
    <p>Comments</p>
  </div>
  <div>
    <p>Boby Tables 242343</p>
    <p>affafwefwefwefewfewfwefewfef</p>
  </div>
  <div>
    <p>Ironhack Employee 242343</p>
    <p>affafwefwefwefewfewfwefewfef</p>
  </div>
</div>

<div>
  <form action="/action_page.php">
    First name:
    <br>
    <input type="text" name="firstname" value="Name">
    <br> Last name:
    <br>
    <input type="text" name="lastname" value="LastName">
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>